<div class="overlay" (click)="closeModal()">
  
</div><div class="modal" (click)="$event.stopPropagation()">

  <button class="close" (click)="closeModal()">✕</button>

  <img *ngIf="image" [src]="image?.url || image?.path" />

  <div class="content">

    <h2>{{ image?.title }}</h2>

    <p>{{ image?.description }}</p>

    <p>
      <strong>Original artist:</strong>
      {{ image?.originalArtist || 'Unknown' }}
    </p>

    <p>
      <strong>Owner :</strong>
      {{ image?.owner?.username || 'Unknown' }}
    </p>

    <div class="actions">
      <button (click)="toggleLike()">
        {{ isLiked ? '💔 Unlike' : '👍 Like' }}
      </button>
      <span>{{ likesCount }} likes</span>
    </div>

    <div class="comments">
      <h3>Comments</h3>

      <div *ngFor="let c of comments">
        <strong>{{ c.user?.username }}</strong>
        <p>{{ c.content }}</p>
      </div>

      <input [(ngModel)]="newComment" placeholder="Add a comment..." />

      <button (click)="addComment()">Send</button>
    </div>

    <button class="delete-btn" (click)="deleteImage()">
      Delete
    </button>

  </div>

</div>