<!-- DEBUG 
<pre>{{ images | json }}</pre> -->
<div class="success-banner" *ngIf="showSuccess">

  {{ successMessage }}

</div>

<div class="grid">

  <div class="card" *ngFor="let img of images" (click)="openModal(img)">

    <img [src]="img.url" alt="image" loading="lazy" (error)="onError(img)" />

    <div class="info">

      <p class="title">
        {{ img.title || 'No title' }}
      </p>


    </div>

  </div>

</div>

<app-image-modal *ngIf="isModalOpen" [image]="selectedImage" (close)="closeModal()" (delete)="onDeleteImage($event)"
  (deleteComment)="onDeleteComment($event)">
</app-image-modal>