.grid {
  column-count: 2;
  column-gap: 12px;
  padding: 12px;
  padding-bottom: 80px;
}

/* tablette */
@media (min-width: 600px) {
  .grid {
    column-count: 3;
  }
}

/* desktop */
@media (min-width: 900px) {
  .grid {
    column-count: 4;
  }
}

.card {
  break-inside: avoid;
  margin-bottom: 12px;

  border-radius: 14px;
  overflow: hidden;

  background: var(--card);
  box-shadow: none; 
  cursor: pointer;

  transition: transform 0.15s ease, opacity 0.15s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  display: block;
  border-radius: 14px;
}

.info {
  padding: 6px 8px;
  font-size: 12px;
  color: var(--muted);
}

body {
  background: #fafafa;
}